@import "tailwindcss";

:root {
  font-family: 'Poppins', 'Outfit', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  /* min-width: 320px; */
  min-height: 100vh;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

#card-img {
  height: 300px;
  border-radius: 20px;
}

.card {
  @apply bg-amber-50 p-5 rounded-4xl transition duration-300 ease-in-out hover:scale-105 hover:cursor-pointer hover:shadow-[0_0_35px_rgba(8,8,8,0.25)];
}

.layout-notes {
  @apply w-full max-w-130 h-full max-h-115 min-h-[150px];
}

.layout-schedule {
  @apply w-full max-w-fit h-full max-h-fit min-h-[150px];
}

.layout-attendance {
  @apply w-full max-w-130 h-full max-h-115 min-h-[150px];
}

.layout-todo {
  @apply w-full max-w-130 h-full max-h-115 min-h-[150px];
}

.loading-pfp {
  background: linear-gradient(90deg, #7b7b7b, #252525, #7b7b7b);
  background-size: 400% 400%;
  animation: shimmer 2s infinite;
}

@keyframes shimmer {
  0% { background-position: 0% 0%; }
  100% { background-position: 100% 0%; }
}